<manifest xmlns:android="http://schemas.android.com/apk/res/android"><application android:label="MagicPhone Window Fixture" android:theme="@android:style/Theme.Material.Light.Dialog.NoActionBar" android:allowBackup="false"><activity android:name=".WindowActivity" android:exported="true" android:resizeableActivity="true" android:launchMode="singleTask"/><activity android:name=".PaneActivity" android:exported="true" android:resizeableActivity="true" android:theme="@android:style/Theme.Material.Light.NoActionBar"/></application></manifest>
